.testi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testi h1 {
  margin: 20px;
}

.testi .under {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 280px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 180px;
}

.card .quote {
  color: rgb(79, 79, 79);
  font-style: italic;
}

.card .author {
  text-align: end;
}

@media only screen and (max-width: 340px) {
  .card {
    width: 80%;
  }

  .testi h1 {
    font-size: large;
  }
}
